# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore large datasets
Data/raw/*.csv
Data/cleaned/*.csv
Data/processed/*.csv

*.csv